<p>register works!</p>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div>
    <label for="name">Enter your name</label>
    <input
      type="text"
      id="name"
      formControlName="name"
      placeholder="Name"
      [attr.aria-invalid]="
        form.get('name').touched ? (form.get('name').valid ? false : true) : ''
      "
    />
    <small *ngIf="!form.get('name').valid && form.get('name').touched">
      Name is required
    </small>
  </div>
  <div>
    <label for="dateOfBirth">Your date of birth</label>
    <input
      type="date"
      id="dateOfBirth"
      formControlName="dateOfBirth"
      [attr.aria-invalid]="
        form.get('dateOfBirth').touched
          ? form.get('dateOfBirth').valid
            ? false
            : true
          : ''
      "
    />
    <small
      *ngIf="!form.get('dateOfBirth').valid && form.get('dateOfBirth').touched"
    >
      Date of birth is required
    </small>
  </div>
  <div>
    <label for="email">Enter your email</label>
    <input
      type="email"
      id="email"
      formControlName="email"
      [attr.aria-invalid]="
        form.get('email').touched
          ? form.get('email').valid
            ? false
            : true
          : ''
      "
    />
    <small *ngIf="!form.get('email').valid && form.get('email').touched">
      Email is required
    </small>
  </div>

  <div>
    <label for="password">Enter your password</label>
    <input
      type="password"
      id="password"
      formControlName="password"
      [attr.aria-invalid]="
        form.get('password').touched
          ? form.get('password').valid
            ? false
            : true
          : ''
      "
    />
    <small *ngIf="!form.get('password').valid && form.get('password').touched">
      Password is required
    </small>
  </div>

  <div>
    <button [attr.aria-busy]="ariaBusy" type="submit" [disabled]="!form.valid">
      Submit
    </button>
    <button type="button" (click)="setValue()">Set Value</button>
  </div>
</form>

<div>
  Already registered? <a href="login">Log in</a>
</div>

<dialog [attr.open]="modal.isOpen">
  <article>
    <div>
      <h3 *ngIf="modal.header">{{ modal.header }}</h3>
      <pre *ngIf="modal.body">{{ modal.body | json }}</pre>
    </div>
    <div class="grid">
      <!-- <a href="#cancel" role="button" class="secondary">Cancel</a> -->
      <!-- <a href="#confirm" role="button">Confirm</a> -->
      <button (click)="modalOkButton()">Okay</button>
    </div>
  </article>
</dialog>
