<style>
  .center {
    text-align: center;
    /* padding: 70px 0; */
    margin-left: auto;
    margin-right: auto;
  }

  .number {
    font-family: monospace;
    font-size: 1.2rem;
  }
</style>


<div *ngIf="store.state$ | async as state">

  <article>
    <div class="grid">
      <!-- <div>
        <div>Candidate: <span class="number">{{ state.candidate?.name }}</span></div>
        <div>Id: <span class="number">{{ state.candidate?.candidateId }}</span></div>
      </div>
      <div>
        <div>Exam: <span class="number">{{ state.exam?.name }}</span></div>
        <div>Id: <span class="number">{{ state.exam?.examId }}</span></div>
      </div>
      <div>
        <div>QuestionSet: <span class="number">{{ state.questionSet?.name }}</span></div>
        <div>Id: <span class="number">{{ state.questionSet?.questionSetId }}</span></div>
      </div> -->

      <div>
        <div><span class="number">{{ state.candidate?.candidateId }} - {{ state.candidate?.name }}</span></div>
      </div>
      <div>
        <div><span class="number">{{ state.exam?.examId }} - {{ state.exam?.name }}</span></div>
      </div>
      <div>
        <div><span class="number">{{ state.questionSet?.questionSetId }} - {{ state.questionSet?.name }}</span></div>
      </div>
    </div>
  </article>

  <article>
    <div style="font-size: 1.2rem">
      <span class="number">{{state.currentQuestion?.questionNumber}}:</span>
      {{ state.currentQuestion?.questionText }}
    </div>
  </article>

  <article>
    <div class="grid">
      <div>
        Question No.
        <span class="number">
          {{state.currentQuestion?.questionNumber}}
        </span> of
        <span class="number">
          {{ state.questionSet.questions?.length + state.currentCandidateExam.answers?.length }}
        </span>
      </div>
      <div>
        Questions skipped:
        <span class="number">
          {{ questionsSkipped }}
        </span>
      </div>
      <div>
        Time Left:
        <span class="number">{{ minsRemaining }}</span>
      </div>
    </div>
  </article>

  <!-- VIDEO AND SPEECH TO TEXT --- VIDEO AND SPEECH TO TEXT --- VIDEO AND SPEECH TO TEXT -->
  <!-- VIDEO AND SPEECH TO TEXT --- VIDEO AND SPEECH TO TEXT --- VIDEO AND SPEECH TO TEXT -->
  <div class="grid">
    <!-- VIDEO / AUDIO --- VIDEO / AUDIO --- VIDEO / AUDIO --- VIDEO / AUDIO --- VIDEO / AUDIO -->
    <article *ngIf="state.isVideo" class="center">
      <app-videojs-recorder-audio-video></app-videojs-recorder-audio-video>
    </article>
    <article *ngIf="!state.isVideo" class="center">
      <app-videojs-recorder-audio-only></app-videojs-recorder-audio-only>
    </article>

    <!-- SPEECH TO TEXT --- SPEECH TO TEXT --- SPEECH TO TEXT --- SPEECH TO TEXT --- SPEECH TO TEXT -->
    <article class="center">
      <app-voice-recognition></app-voice-recognition>
    </article>
  </div>


  <!-- BUTTONS --- BUTTONS --- BUTTONS --- BUTTONS --- BUTTONS --- BUTTONS -->
  <!-- BUTTONS --- BUTTONS --- BUTTONS --- BUTTONS --- BUTTONS --- BUTTONS -->
  <div class="grid" *ngIf="storeButton.state$ | async as stateButton">
    <!-- <button *ngIf="!isRecording" class="secondary" (click)="startStopRecording()">Start recording</button> -->
    <button [disabled]="stateButton.recording === 'start'" class="secondary"
      [attr.aria-busy]="stateButton.recording === 'start'"
      (click)="storeButton.setRecordingState('start')">{{stateButton.recording === 'start'?'Recording':'Start'}}</button>
    <!-- <button class="secondary" (click)="storeButton.setRecordingState('pause')">Pause</button>
      <button class="secondary" (click)="storeButton.setRecordingState('resume')">Resume</button> -->
    <button [disabled]="stateButton.recording === 'stop'" class="secondary"
      (click)="stopRecording();storeButton.setRecordingState('stop')">Stop</button>
    <!-- <button class="secondary" (click)="resetAnswer()">Reset answer</button> -->
    <button class="contrast" (click)="skipQuestion()">Skip question</button>
    <!-- <button class="primary" (click)="submit()"
      [disabled]="(state.currentAnswer === null) || (recording.recorderPlayerState !== 2)">
      Submit
    </button> -->
    <button [disabled]="!(state.transcript!==null && state.answerFile!==null)" class="primary"
      (click)="submit()">Submit</button>
  </div>
  <!-- <div>
    <span>Recording state: {{ state.recording }}</span>
  </div> -->
</div>


<!-- MODAL --- MODAL ---MODAL ---MODAL ---MODAL ---MODAL ---MODAL -->
<!-- MODAL --- MODAL ---MODAL ---MODAL ---MODAL ---MODAL ---MODAL -->
<!-- MODAL --- MODAL ---MODAL ---MODAL ---MODAL ---MODAL ---MODAL -->
<!-- exam expire modal -->
<dialog [attr.open]="examExpired">
  <article>
    <h3>Exam is expired</h3>
    Go to <a routerLink="/home">home</a>
  </article>
</dialog>
